*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  background-color: rgb(20,26,43);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.App{
  width: 100%;
}

.compteur{
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #ffff;
  color: rgb(24, 15, 15);
  border-radius: 10px;
  gap: 14px;
  margin-bottom: 10px;
}

.compteur button{
  padding: 8px;
  ;
}

.compteur h2.erreur{
  color: red;
  font-weight: bold;
}

.entete{
  margin-bottom: 15px;
}

.post{
  background-color: blue;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.post .active{
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.btn{
  display: flex;
  gap: 10px;
}

.btn button{
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn .delete{
  background-color: red;
  color: white;
}